<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Admin_signup</display-name>
    <servlet-name>Admin_signup</servlet-name>
    <servlet-class>Admin_signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_signup</servlet-name>
    <url-pattern>/Admin_signup</url-pattern>
  </servlet-mapping>
  <display-name>SmartRide</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>User_signup</display-name>
    <servlet-name>User_signup</servlet-name>
    <servlet-class>User_signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_signup</servlet-name>
    <url-pattern>/User_signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_login</display-name>
    <servlet-name>Admin_login</servlet-name>
    <servlet-class>Admin_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_login</servlet-name>
    <url-pattern>/Admin_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_login</display-name>
    <servlet-name>User_login</servlet-name>
    <servlet-class>User_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_login</servlet-name>
    <url-pattern>/User_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_add_bus</display-name>
    <servlet-name>Admin_add_bus</servlet-name>
    <servlet-class>Admin_add_bus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_add_bus</servlet-name>
    <url-pattern>/Admin_add_bus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_route_management</display-name>
    <servlet-name>Admin_route_management</servlet-name>
    <servlet-class>Admin_route_management</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_route_management</servlet-name>
    <url-pattern>/Admin_route_management</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_search_bus</display-name>
    <servlet-name>User_search_bus</servlet-name>
    <servlet-class>User_search_bus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_search_bus</servlet-name>
    <url-pattern>/User_search_bus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_available_buses</display-name>
    <servlet-name>User_available_buses</servlet-name>
    <servlet-class>User_available_buses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_available_buses</servlet-name>
    <url-pattern>/User_available_buses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_select_seat</display-name>
    <servlet-name>User_select_seat</servlet-name>
    <servlet-class>User_select_seat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_select_seat</servlet-name>
    <url-pattern>/User_select_seat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_passenger_detail</display-name>
    <servlet-name>User_passenger_detail</servlet-name>
    <servlet-class>User_passenger_detail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_passenger_detail</servlet-name>
    <url-pattern>/User_passenger_detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_payment</display-name>
    <servlet-name>User_payment</servlet-name>
    <servlet-class>User_payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_payment</servlet-name>
    <url-pattern>/User_payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_booking</display-name>
    <servlet-name>User_booking</servlet-name>
    <servlet-class>User_booking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_booking</servlet-name>
    <url-pattern>/User_booking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessRefund</display-name>
    <servlet-name>ProcessRefund</servlet-name>
    <servlet-class>ProcessRefund</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessRefund</servlet-name>
    <url-pattern>/ProcessRefund</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_booking_management</display-name>
    <servlet-name>Admin_booking_management</servlet-name>
    <servlet-class>Admin_booking_management</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_booking_management</servlet-name>
    <url-pattern>/Admin_booking_management</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact_us</display-name>
    <servlet-name>Contact_us</servlet-name>
    <servlet-class>Contact_us</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact_us</servlet-name>
    <url-pattern>/Contact_us</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_user_list</display-name>
    <servlet-name>Admin_user_list</servlet-name>
    <servlet-class>Admin_user_list</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_user_list</servlet-name>
    <url-pattern>/Admin_user_list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_user_management</display-name>
    <servlet-name>Admin_user_management</servlet-name>
    <servlet-class>Admin_user_management</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_user_management</servlet-name>
    <url-pattern>/Admin_user_management</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_profile</display-name>
    <servlet-name>User_profile</servlet-name>
    <servlet-class>User_profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_profile</servlet-name>
    <url-pattern>/User_profile</url-pattern>
  </servlet-mapping>
</web-app>